<ul>
    {% for i in object_list %}
    <li>
        <h1>Привет - {{ i.username }}</h1>
        <p>Почта - {{ i.email }}</p>
        <p>Имя - {{ i.name }}</p>
        <p>Ваш опыт работы - {{ i.experience }}</p>
        {% if i.level %}
        <p>Ваш уровень: {{ i.level }}</p>
        {% else %}
        <p>Уровень не определен</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <button type="submit">Выйти из аккаунта</button>
</form>